:root {
    --bg-color:#ffffff;
    --logo-color: #4D5AE5;
    --footer-bg-color: #2E2F42;
    --activ-title-color: #404BBF;
    --normal-title-color: #2E2F42;
    --activ-address-color: #404BBF;
    --normal-address-color: #434455;
    --first-btn-bg-color: #F4F4FD;
    --second-btn-bg-color: #404BBF;
    --first-btn-color: #4D5AE5;
    --second-btn-color: #ffffff;
    --basic-color: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--basic-color);
    /* color: #2E2F42; */
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/**-------------- HEADER------------------ */

.header {
    background-color: var(--bg-color);
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.header-logo-first {
    color: var(--logo-color);
}

.header-logo-last {
    color: var(--normal-title-color);
}

.header-list {
    color: var(--normal-title-color);
}

.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--normal-title-color);
}

.header-list-item:hover,
.header-list-item:focus {
    color: #404BBF;
}

.header-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--normal-address-color);
}

.header-address:hover,
.header-address:focus {
    color: #404BBF;
}

/**-------------- HERO------------------ */

.hero {
    background: #2E2F42;
    /* text-decoration: none; */
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-bottom-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: #4D5AE5;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-bottom-text:hover,
.hero-bottom-text:focus {
    background: #404BBF;
    color: #FFFFFF;
}

/**-------------- Feature--------------- */

/* .feature-list {
    color: #2E2F42;
} */

.feature-list-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--normal-title-color);
}

.feature-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--basic-color);
}

/**-------------- IMG------------------ */

.img-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--normal-title-color);
}

/**-------------- Team------------------ */

.team {
    background: #F4F4FD;
} 

.team-list {
    background-color: #FFFFFF;
}

.team-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--normal-title-color);
}

.team-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--normal-title-color);
}

.team-p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--basic-color);
}

/**------------- Project card------------- */

.card-list {
    color: var(--normal-title-color);
    text-decoration: none
}

.card-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--normal-title-color);
}

.card-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--basic-color);
}

/**------------- Filter btn------------- */

.filter-btn {
    /* box-sizing: border-box;
    flex-direction: row;
    display: flex;
    align-items: center; */
    justify-content: center;
    background: var(--first-btn-bg-color);
    /* border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0; */

    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--first-btn-color);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--second-btn-bg-color);
    color: var(--second-btn-color);

}

/**-------------- Footer------------------ */

.footer {
    background-color: var(--footer-bg-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

.footer-logo-first {
    color: var(--logo-color);
}

.footer-logo-last {
    color: var(--first-btn-bg-color);
}

.footer-title {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
